body, html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('resources/background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 0;
}
