@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background: linear-gradient(#e6c464, #ffaf90);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image-table {
  width: 15%;
  height: 15%;
  margin: auto;
}

.weather-name {
  font-family: 'Mansalva', cursive;
}

.main-heading {
  padding-top: 100px;
}